<?xml version="1.0"?>

<launch>
  
  <include file="$(find hector_tracker_gazebo_launch)/launch/spawn_default.launch"/> 
  
  <include file="$(find hector_tracker_onboard_launch)/launch/onboard_default.launch"/> 
    
  <arg name="online_mapping" default="false"/>
    
  <include file="$(find hector_onboard_launch)/launch/icp_mapper.launch">
    <arg name="online_mapping" value="$(arg online_mapping)"/>
  </include>  
  
</launch>
