<?xml version="1.0"?>

<launch>
  
  <arg name="lidar_filter_target_frame"   default="odom"/>

  <rosparam file="$(find hector_tracked_vehicles_self_filter)/config/self_filter_hector_tracker.yaml" command="load" ns="nav_lidar_self_filter_lidar" />    
  <include file="$(find hector_sensor_proc_launch)/launch/lidar_proc.launch">
    <arg name="scan_topic" value="/spin_laser/scan"/>
    <arg name="lidar_filter_target_frame"   value="$(arg lidar_filter_target_frame)"/>
  </include>
  
</launch>
